.container {
    width: 350px;
    min-height: 160px;
    background-color: white;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    position: relative;
    cursor: grab;
    user-select:none;
    transition: 0.7s all ease-out;
  
}
.container:active{
    cursor:grabbing;

}
.upperSection {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.dotList {
    display: flex;
    overflow: hidden;
    align-items: baseline;
    list-style: none;
    text-align: center;
    position:absolute;
    top: -5px;
    right:10px;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.123);
    cursor: auto;
    transition: 0.3s all;
}
.trashDiv {
    cursor: pointer;
}
.dotListDiv {
    width: 0;
    display: flex;
    gap: 1rem;
    overflow: hidden;
    transition: 0.7s all;
}
.dotList li {
    cursor: pointer;
    margin: 0.5rem 0; 
}
.dotList li button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    font-size: 1rem;
}

.button {
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.dotList:hover .dotListDiv {
    width: 130px;
    padding: 0 1rem;
}

.title {
    text-align: center;
    padding: 1rem;
}
.dependency {
    text-align: center;
}
.label {
    padding: .1rem .5rem;
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    text-transform: capitalize;

}


.middleSection {
    display: flex;
    align-items: center;
}
.middleSection__icon{
    font-size: 2.5rem;
    padding-top: 1rem;
}

.dependency {
    color: #787486;
}

.labels-group {
    display: flex;
}

.loading-spinner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
}

