
.container {
    width: 400px;
    max-height: 80vh;
    padding-bottom:2rem; 
    background-color: #F5F5F5;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    transition: 0.5s all;
}
.container .taskList > li:not(:last-child){
    margin-bottom: 2rem;
}
.taskList {
    list-style: none;
    position:relative;
    overflow-y: scroll;
    scrollbar-width: none;;
}

.taskList::-webkit-scrollbar {
    display: none;

}
.upperSection__heading {
align-self: flex-start;
padding: 1rem ;
}

.middleSection__icon {
    font-size: 2rem;
}
.upperSection {
    width: 90%;
    display: flex;
    align-items: center;
    margin: .5rem;
}
.upperSection::before{
content: '';
width: .8rem;
height: .8rem;
background-color: var(--dot-color);
border-radius: 50%;
}

.container__collapse__button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    margin-left: auto;
    font-size: 2rem;
}
